{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>خروج</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="{% static 'vendor/myScript.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'vendor/styles.css' %}">

</head>
<body>
<section class="ftco-section">
    <div class="container" id="SigninForm" style="display: block">
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="wrap">
                    <div class="login-wrap p-4 p-md-5">
                        <div class="text-center">
                            <div class="">
                                <h3 class="">باموفقیت خارج شدید.</h3>
                            </div>
                        </div>
                        <p class="text-center"><a data-toggle="tab" href="/register">ثبتنام</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>

