{% extends 'base.html' %}
{% block content %}
    <!-- Grid -->
    <div class="w3-row">
        <!-- Blog entries -->
        <div class="w3-col l8 s12">
            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin w3-white">
                <img src="../media/{{ detail.image }}" alt="{{ detail.title }}" style="width:100%">
                <div class="w3-container">
                    <h3><b>{{ detail.title }}</b></h3>
                    <h5>تاریخ <span class="w3-opacity">{{ detail.time }}</span></h5>
                    <a href="/cat/{{ detail.category.id }}" style="text-decoration: none">در <span
                            style="width: fit-content">{{ detail.category.title }}</span></a>
                </div>
                <div class="w3-container">
                    <p>{{ detail.body }}</p>
                </div>
                <div class="w3-container">
                    <div class="w3-row">
                        <div class="w3-col w3-content" style="width: fit-content">

                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- END BLOG ENTRIES -->
        </div>
        <!-- Introduction menu -->
        <div class="w3-col l4 w3-hide-small w3-hide-medium">
            <!-- About Card -->
            <div class="w3-card w3-margin w3-margin-top">
                <img src="/media/imgs/avatar_g.jpg" style="width:100%">
                <div class="w3-container w3-white">
                    {% if user.is_authenticated %}
                        <h4 class="w3-text-green"><a style="text-decoration: none" href="/signout">خروج</a></h4>
                        <p>{{ user.get_username }}</p>
                    {% else %}
                        <h4 class="w3-text-green"><a style="text-decoration: none" href="/signin">ورود</a></h4>
                        <p>پروژه مهندسی وب</p>
                    {% endif %}
                </div>
            </div>
            <hr>

            <!-- END Introduction Menu -->
        </div>
        <div class="w3-col l8 s12">
            <!-- Blog entry -->
            <div class="w3-card-4 w3-margin">
                <div class="w3-container w3-theme-l4">
                    <h3><b>کامنت ها</b></h3>
                    <div class="w3-margin-bottom w3-card-4 w3-white">
                        <form class="w3-container" method="post" action="/detail/{{ detail.id }}">
                            {% csrf_token %}
                            <h4>ارسال پیام</h4>

                            <p><label class="w3-padding-small">نام</label>
                                <input class="w3-input w3-border" name="name" type="text"></p>

                            <p><label class="w3-padding-small">ایمیل</label>
                                <input class="w3-input w3-border" name="email" type="email"></p>

                            <p><label class="w3-padding-small">پیام</label>
                                <textarea class="w3-input w3-border" name="msg"></textarea></p>
                            <button class="w3-btn w3-green w3-margin-bottom w3-left">ارسال</button>
                        </form>
                    </div>
                    {% for msgg in messages %}
                        <p class="w3-text">{{ msgg }}</p>
                    {% endfor %}
                    <hr>
                    {% for cmt in comment %}
                    <div class="w3-margin-bottom w3-card-4 w3-white">
                        <div class="w3-container">
                            <h5>{{ cmt.body }}</h5>
                        </div>
                        <div class="w3-container">
                            <h6 class="w3-opacity">تاریخ <span>{{ cmt.time }}</span> نویسنده: <span>{{ cmt.name }}</span></h6>
                        </div>
                        <div class="w3-container">
                            <div class="w3-row">
                                <div class="w3-col w3-content" style="width: fit-content">

                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="w3-container">
                    <div class="w3-row">
                        <div class="w3-col w3-content" style="width: fit-content">

                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- END BLOG ENTRIES -->
        </div>
        <!-- END GRID -->
    </div><br>

    <!-- END w3-content -->
    </div>
{% endblock %}
